:root {
  --green: #91bb18;
  --blue: #73cfff;
  --navy: #002ca0;
  --gold: #e0c23e;
  --grey: #586168;
  --white: #fff;
}

.pressed{
  background-color: red;
}

.simple-keyboard.hg-layout-default .hg-button {
  font-size: 25px;
}

.simple-keyboard.hg-layout-default .hg-button.dark {
  color: var(--white);
}

.simple-keyboard.hg-layout-default .hg-button.green.dark {
  background: var(--green);
}

.simple-keyboard.hg-layout-default .hg-button.blue.dark {
  background: var(--blue);
}
.simple-keyboard.hg-layout-default .hg-button.gold.dark {
  background: var(--gold);
}
.simple-keyboard.hg-layout-default .hg-button.navy.dark {
  background: var(--navy);
}

.simple-keyboard.hg-layout-default .hg-button.grey.light {
  color: var(--grey);
}

.simple-keyboard.hg-layout-default .hg-button.blue.light {
  color: var(--blue);
}

.simple-keyboard.hg-layout-default .hg-button.navy.light {
  color: var(--navy);
}

.simple-keyboard.hg-layout-default .hg-button.gold.light {
  color: var(--gold);
}

.simple-keyboard.hg-layout-default .hg-button.green.light {
  color: var(--green);
}
