html,
body {
  height: 100vh;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

#landing-container {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

#landing-container img {
  height: 100vh;
  position: absolute;
  left: 0;
}

#landing-container .right-panel {
  position: absolute;
  left: 400px;
  top: 10vh;
}

.right-panel .welcome-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-panel form {
  width: 60vw;
  height: 100vh;
}

#landing-container .upper-text {
  font-size: 30px;
  margin-bottom: -30px;
}

#landing-container .lower-text {
  font-family: 'Short Stack';
  font-size: 90px;
}

#landing-container .user-type {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.kid {
  background-color: #0d47a1;
}

.adult {
  background-color: #40a39a;
}

#landing-container .user-type:hover {
  transform: scale(1.1);
}
